<div class="row justify-content-center align-items-center">
  <div class="col-lg-6">
    <h2>Sign up as new</h2><br/>
    <%= form_for(@user, url: sign_up_path) do |form| %>
      <div class="form-group">
        <%=form.label :name %>
        <%=form.text_field :name, class: "form-control", placeholder: "Enter name"%>
      </div>
      <div class="form-group">
        <%=form.label :fmno, 'FMNO' %>
        <%=form.text_field :fmno, class: "form-control", placeholder: "Enter fmno"%>
      </div>
      <div class="form-group">
        <%=form.label :email, 'Email address' %>
        <%=form.email_field :email, class: "form-control", placeholder: "Enter email"%>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <%=form.label :password %>
        <%=form.password_field :password, class: "form-control", placeholder: "Password"%>
      </div>
      <div class="form-group">
        <%#=form.label :password_confirmation %>
        <%=form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password"%>
      </div>
      <div class="form-group text-right">
        <%= form.submit 'Sign up', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-7 text-center mt-3">
    Or <%= link_to "Log in", root_path %> as existing user
  </div>
</div>
