<div id='account_card_<%= account.id %>' class="col-sm-6 mb-4">
  <div class="card border-secondary">
    <div class="card-body">
      <h5 class="card-title"><%= account.name %></h5>

      <p class="card-text">
        Team: <%= account.team.name %><br/>
        <span class="small" title="<%= account.team.name %>">Created <%= time_ago_in_words(account.created_at) %>
          ago.</span>
      </p>
      <%= link_to('Delete account', account_under_grounds_path(account: account, action_2_perform: :delete),
                  class: "btn btn-sm btn-danger float-right",
                  method: :post, remote: true, data: {confirm: "Will delete the account permanently. Are you sure?"}) %>
    </div>
  </div>
</div>