<div class="card update_password_form">
  <div class="card-body">
    <h5>Update password</h5>
    <%= form_with url: user_path(@user), model: @user, local: false do |f| %>
      <div class="row mb-3">
        <div class="col-12 mb-3">
          <%= f.password_field :existing_password, class: "form-control", placeholder: "Current password" %>
        </div>
        <div class="col-6">
          <%= f.password_field :password, class: "form-control", placeholder: "New password" %>
        </div>
        <div class="col-6">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <%= f.submit 'Change password', class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>