<div class="poke_form poke_form_<%= poke.id %>">

  <div class="alert alert-light border border-info" role="alert">
    <% if show_team_label ||= false %>
      <p>Team: <%= poke.team.name %></p>
    <% end %>

    <%= form_with(model: poke, url: team_poke_path(poke.team, poke), remote: true, method: :delete, class: 'form mb-3') do |form| %>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><strong><%= poke.id %></strong></span>
          <span class="input-group-text">Doable &nbsp; <i class="fa <%= poke.doable? ? 'fa-check' : 'fa-times' %>" aria-hidden="true"></i></span>
          <span class="input-group-text">Live &nbsp; <i class="fa <%= poke.live? ? 'fa-check' : 'fa-times' %>" aria-hidden="true"></i></span>
          <span class="input-group-text">Validating uuid</span>
        </div>
        <input type="text" class="form-control bg-transparent" value="<%= poke.validating_uuid %>" readonly="readonly">
        <div class="input-group-append">
          <a href="javascript:void(0);" class="btn btn-outline-info latest_response"><%= pluralize(poke.latest_responses.size, 'Response') %></a>
          <%= form.submit "Delete", class: "btn btn-outline-danger", data: {disable_with: 'Processing...', confirm: 'Are you sure?'} if poke.team.team_leaders.include?(current_user) %>
        </div>
      </div>
    <% end %>

    <%= render(partial: 'pokes/form', locals: {poke: poke}) %>

    <div class="alert alert-info mb-0 monospace_text" style="display: none">
      <h6>Latest responses</h6>
      <% poke.latest_responses.each do |_response| %>
        <li><%= truncate(_response.inspect, length: 217) %></li>
      <% end %>
    </div>

  </div>

</div>