<%
  _url_to_post_to = if poke.new_record?
                      if poke.team
                        team_pokes_path(poke.team)
                      else
                        pokes_path
                      end
                    else
                      team_poke_path(poke.team, poke)
                    end
%>
<%= form_with(model: poke, url: _url_to_post_to, local: false, class: "form") do |form| %>

  <% unless poke.team %>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Team</label>
      </div>
      <%= select_tag :team_id, options_for_select(Current.user.leading_teams.collect {|team| [team.name, team.id]}), {prompt: 'Please select team from the following', class: "form-select form-control form-control-sm"} %>
    </div>
  <% end %>

  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text">Cron expression</span>
    </div>
    <% Poke::CRON_FIELDS.keys.each do |_cron_field|
      _cron_field_label = _cron_field.to_s.gsub(/cron_/, '').humanize %>
      <%= form.text_field _cron_field, class: "form-control text-center cron_exp_field", placeholder: _cron_field_label, title: _cron_field_label %>
    <% end %>
  </div>
  <p class="text-right cron_exp_label mb-2">
    <small class="DDfont-weight-lighter"><%= Cronex::ExpressionDescriptor.new(poke.frequency).description unless poke.new_record? %></small>
  </p>

  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <%= form.check_box :live, title: 'Check to make it live or uncheck otherwise.' %>
      </div>
    </div>
    <div class="input-group-prepend">
      <span class="input-group-text">URL to hit: </span>
    </div>
    <%= form.text_field :url, class: "form-control form-control-sm" %>
    <div class="input-group-append">
      <%= form.submit (poke.new_record? ? "Create" : "Update & Refresh"), class: "btn btn-primary", disabled: (not Current.user.leading_teams.exists?), data: {disable_with: 'Processing...'} %>
    </div>
  </div>
<% end %>