<nav class="navbar navbar-dark bg-dark mb-4">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'carom.jpg', class: "d-inline-block align-top" %>
    <%= app_name %>
  <% end %>
  <%
    menu_items = []
    if current_user
      _team = current_user.teams.first
      if current_user.teams.exists?
        menu_items << {label: 'Team', uri: members_team_path(_team)}
        menu_items << {label: 'Pokes', uri: team_pokes_path(_team)}
      end

      if current_user.application_admin?
        menu_items << {label: 'Under grounds', uri: under_grounds_path}
      end
    end

    menu_items << {label: 'Documents', uri: documents_path}
    menu_items << {label: "<span class='navbar-text'>Welcome #{current_user.name}. #{link_to('Log out', session_path, method: :delete, data: {confirm: 'Are you sure?'})}</span>"} if current_user
  %>

  <ul class="nav justify-content-end">
    <% menu_items.each do |menu_item| %>
      <li class="nav-item">
        <% if menu_item[:uri] %>
          <%= link_to menu_item[:label], menu_item[:uri], class: "nav-link", target: menu_item[:target] %>
        <% else %>
          <%= raw menu_item[:label] %>
        <% end %>
      </li>
    <% end %>
  </ul>

</nav>